<div class="parent">
    <div class="container">
        <h2 class="title">Login</h2>
        <form action="#" class="form-container">
            <div class="input-box email">
                <input type="email"  id="email-input" name="userName" [(ngModel)]="loginObj.userName" required placeholder="Username">
                <img src="https://cdn-icons-png.flaticon.com/512/6325/6325109.png" alt="user-image" width="25px">
            </div>
            <div class="input-box password">
                <input type="password"  id="password-input" name="password" [(ngModel)]="loginObj.password" required placeholder="Password">
                <img src="https://cdn-icons-png.flaticon.com/512/2489/2489659.png" alt="lock-image" width="22px">
            </div>
            <div class="remember-forgot">
                <div class="remember">
                    <input type="checkbox" id="remember">
                    <label for="remember">Remember me</label>
                </div>
                <div class="forgot">
                    <a href="#">forgot Password ?</a>
                </div>
            </div>
            <div class="button">
                <button class="button" (click)=" onLogin()">Login</button>
            </div>
            <div class="register">
                <p>Don't you have an account ?<a href="#">Register</a></p>
            </div>
        </form>
    </div>
</div>